<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Lost In Network an open-source application to analyse your network">
    <meta name="author" content="Depado">

    <title>Lost In Network</title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/landing-page.css') }}" rel="stylesheet">

    <link href="//font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="#">Lost In Network</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#services">Capabilities</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<a name="about"></a>

<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Lost In Network</h1>

                    <h3>An open-source web application to analyse your network.</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="https://github.com/Depado/LostInNetwork" class="btn btn-default btn-lg"><i
                                    class="fa fa-github-alt"></i> <span class="network-name">Github</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page Content -->
<a name="services"></a>

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <div class="clearfix"></div>
                <h2 class="section-heading">Register your devices in a secure way.</h2>

                <p class="lead">
                    Lost In Network allows you to store your devices information in a database in a secure way. The
                    passwords are encrypted in a way that they can only be accessed when logged in the application.
                    The application uses an AES Cipher, the key being the SHA512 of the user's password which is
                    stored in the server-side encrypted session.
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="../static/img/devices.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <div class="clearfix"></div>
                <h2 class="section-heading">Keep records of your devices' configurations.</h2>

                <p class="lead">
                    Lost In Network will fetch your devices' configurations and store them on disk encrypted, just
                    like the passwords in the database. With that technique, you can keep track of your
                    configurations, by date. You can download them decrypted or create an archive of your encrypted
                    files. Never loose your configurations again !
                </p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="../static/img/configuration.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <div class="clearfix"></div>
                <h2 class="section-heading">Analyse your devices !</h2>

                <p class="lead">
                    Once you fetched your configurations files for your devices, you can start an analysis.
                    Check your version vulnerabilities, your configurations warnings and such and get a nice
                    reporting.
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="../static/img/tasks.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <div class="clearfix"></div>
                <h2 class="section-heading">Automated Asynchronous Tasks !</h2>

                <p class="lead">
                    Don't waste your time, start the task and keep working ! Asynchronous tasks allows you to start
                    a task and keep using the application to do something else. Fetch your configuration, update the CVE
                    , analyse your configurations. Some asynchronous tasks can even be executed at periodic times !
                    No need to update the CVE manually, it's done once a day.
                </p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="../static/img/tasks.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <div class="clearfix"></div>
                <h2 class="section-heading">Encrypted data is a key concept.</h2>

                <p class="lead">
                    We never store clear-text data on disk. Everything is encrypted. Want to change your password ? LiN
                    will decrypt everything using your old password's hash and re-encrypt everything using your new one
                    !
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="../static/img/password.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <div class="clearfix"></div>
                <h2 class="section-heading">Basic Real-Time information about your server.</h2>

                <p class="lead">
                    You can even monitor your server from within the application.
                </p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="../static/img/system.png" alt="">
            </div>
        </div>
    </div>
</div>

<a name="contact"></a>

<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>Star, Fork, Comment !</h2>
            </div>
            <div class="col-lg-6">
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://github.com/Depado/LostInNetwork" class="btn btn-default btn-lg"><i
                                class="fa fa-github-alt"></i> <span class="network-name">Github</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analytics.depado.eu/";
    _paq.push(['setTrackerUrl', u+'mypi.php']);
    _paq.push(['setSiteId', 5]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'mypi.js'; s.parentNode.insertBefore(g,s);
  })();

</script>
<noscript><p><img src="//analytics.depado.eu/piwik.php?idsite=5" style="border:0;" alt=""/></p></noscript>
</body>
</html>
